@font-face {
  font-family: "MyGroupFont";
  src: url("../fonts/MyGroupFont-Regular.woff") format("woff");
  font-weight: 550;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MyGroupFont";
  src: url("../fonts/MyGroupFont-Bold.woff") format("woff");
  font-weight: 550;
  font-style: normal;
  font-display: swap;
}

.site-title a {
  font-family: "MyGroupFont", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-weight: 550;
  color: #00238e; 
}




body {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.6;
  color: #222;
}


header {
  margin-bottom: 1rem;
  
}

.site-header {
  background-color: #f7f7f7;
  border-bottom: 2px solid #ddd;
}

.header-inner {
  max-width: 950px;
  margin: 0 auto;
  padding: 1.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.site-title a {
  font-size: 1.4em;
  font-weight: 600;
  text-decoration: none;
  color: #003df7;
}

.site-nav a {
  margin-left: 0.5em;
  text-decoration: none;
  color: #333;
  font-weight: 400;
}

.site-nav a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .header-inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .site-nav {
    margin-top: 0.8em;
  }

  .site-nav a {
    margin-left: 0;
    margin-right: 1em;
    font-size: 1em;
  }
}



nav {
  display: flex;
  gap: 1.2em;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  font-size: 1em;
  padding: 0.3em 0;
}

/* MOBILE STYLES */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 0;
  }

  nav a {
    font-size: 1.2em;
    padding: 0.75em 0;
    border-bottom: 1px solid #ddd;
  }
}


h1 {
  margin-top: 0;
  font-size: 1.3em;
  margin-bottom: 0.6em;
}

#outputs dl {
  margin: 0;
  padding: 0;
}

#outputs dt {
  font-weight: bold;
  margin-top: 1em;
}

#outputs dd {
  margin: 0 0 1em 1em;
  font-style: normal;
  line-height: 1.4;
}

#outputs a {
  text-decoration: none;
  color: #0645ad;
}

#outputs a:hover {
  text-decoration: underline;
}

#people {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.person-card {
  border: 1px solid #ccc;
  padding: 1em;
  flex: 0 1 285px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.person-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 25%;
  margin-bottom: 0.5em;
}

.person-card h3 {
  margin: 0.5em 0;
  font-size: 1.1em;
}

.person-card .role {
  font-style: italic;
  color: #555;
  margin-bottom: 0.5em;
}

.person-card .contact a {
  color: #0645ad;
  text-decoration: none;
}

.person-card .contact a:hover {
  text-decoration: underline;
}




