<html lang="en">
  <head>
    <meta charset="utf-8">
   

    <!-- CSS goes here -->
    <link rel="stylesheet" href="https://anqua.github.io/at-a/assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

<body>
  <header>
    <header class="site-header">
  <div class="header-inner">
    <div class="site-title">
      <a href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

    <nav class="site-nav">
      <a href="https://anqua.github.io/at-a/index">HOME</a>
      <a href="https://anqua.github.io/at-a/people">PEOPLE</a>
      <a href="https://anqua.github.io/at-a/research">RESEARCH</a>
      <a href="https://anqua.github.io/at-a/outputs">OUTPUTS</a>
      <a href="https://anqua.github.io/at-a/news">NEWS</a>
      <a href="https://anqua.github.io/at-a/contact">CONTACT</a>
    </nav>
  </div>
</header>

  <main>
    {{ content }}
  </main>
</body>
