<html lang="en">
  <head>
    <meta charset="utf-8">
   

    <!-- CSS goes here -->
    <link rel="stylesheet" href="https://anqua.github.io/at-a/assets/css/style.css">
  </head>

<body>
  <header>
    <nav>
      <a href="https://anqua.github.io/at-a/index">Home</a>
      <a href="https://anqua.github.io/at-a/people">People</a>
      <a href="https://anqua.github.io/at-a/research">Research</a>
      <a href="https://anqua.github.io/at-a/outputs">Outputs</a>
      <a href="https://anqua.github.io/at-a/news">News</a>
      <a href="https://anqua.github.io/at-a/contact">Contact</a>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>
</body>
